[run]
source = src/wagtail_wordpress_import
omit =
    */migrations/*
    */tests/*
    */templates/*
    */static/*
    */static_src/*
    */__pycache__/*
    */__init__.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = htmlcov

[xml]
output = coverage.xml
